.form {
    border: 1px solid rgb(40, 115, 214);
    border-radius: 8px;
    padding: 12px 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 24px;
    width: 396px;
    margin: 24px auto;
  }
  
  .label {
    display: flex;
    flex-direction: column;
    gap: 4px;
    & span {
      text-align: left;
      width: 364px;
    }
  }
  
  .input {
    padding: 5px;
    width: 364px;
    border: 1px solid rgb(40, 115, 214);
  }
  
  .btn {
    background-color: #bbebfa;
    border-radius: 12px;
    &:hover {
      background-color: rgb(40, 115, 214);
    }
  }